.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(165, 165, 165);
}


.footer-bottom-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    
}

.center-text{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--cams-dark-grey);
    border-radius: 6px;
  }
  