body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --cams-blue:#0097EB;
  --cams-secondary-blue:#0F4B6C;
  --cams-grey: #efefef;
  --cams-dark: #0d2154;
  --cams-dark-grey:#9F9F9F; 
  --cams-bg-grey:#f6f6f6; 
  --primary-color: rgb(0, 151, 235);
  --primary-dark: #0d2154;
  --secondary-color: #38ceef;
}

.X{
  position: relative;
  display: flex;
}
