.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 205px;
    background-color: rgb(165, 165, 165);
}

.footer-top-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 160px;
    background-color: #efefef;
}

.footer-bottom-container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: var(--primary-color);
    
}

.left-text{
    position: absolute;
    left: 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    border-radius: 6px;
    margin-left: 4rem;
  }
  

.right-text{
    position: absolute;
    right: 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-right: 4.5rem;
  }
  
.footer-logo{
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    margin-left: 4rem;
  }

.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    margin-right: 4rem;
  }

  .footer-camsBlue{
    position: relative;
    margin-right: 1rem;
  }

  .footer-tag{
    position: relative;
    margin-left: 2rem;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--primary-dark);
    margin-right: 4rem;
  }

  .footer-contact{
    object-fit: contain;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--primary-color);
    margin: 3rem;
    border-radius: 6px;
  }
  
  
  .footer-contact:hover{
     transition:  0.25s ease-in-out;
     border-radius: 6px;
     cursor: pointer;
     color: var(--cams-dark);
  }

  .footer-privacy{
    object-fit: contain;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--primary-color);
    margin-right: 3rem;
    border-radius: 6px;
  }
  
  
  .footer-privacy:hover{
     transition:  0.25s ease-in-out;
     border-radius: 6px;
     cursor: pointer;
     color: var(--cams-dark);
  }


.arrow .qSvg circle{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--primary-color);
}

.arrow .qSvg{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--primary-color);
}

.arrow .qSvg circle:hover{
    cursor: pointer;
    fill: var(--primary-dark);
}


.footerPlain{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(165, 165, 165);
}


.footerPlain-bottom-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    
}

.footerPlain-center-text{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--cams-dark-grey);
    border-radius: 6px;
  }
  