.reset-pwd{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96.5vh; 
    background-color: white;
    position: relative;
}

.reset-pwd-container{
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 425px;
    height: 589px;
    z-index: 10;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 2.25px solid var(--cams-blue);
}


.reset-pwd-actualForm{
    width: 425px;
    height: 589px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.reset-pwd-Logo-Help{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 52.5px;
    margin-bottom: 25px;
}


.reset-pwd-logo{
    display: flex;
    align-items: center;
    margin-left: 52.5px;
  }



.reset-pwd-help { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
    width: 27px;
    padding: 09px 08px 06.5px 08px;
    border-radius: 50px;
    display: flex;
    margin-right: 50.5px;
}

.reset-pwd-help:hover {
    transition:  0.25s ease-in-out;
    padding: 09px 08px 06.5px 08px;
    border-radius: 50px;
    /*color: var(--primary-color);*/
    cursor: pointer;
    background: #0099eb1d;
}

.reset-pwd-help .qSvg path{
    fill: var(--cams-blue);
}

.reset-password-text-01{
    display: flex;
    flex-direction: column;
    margin-left: 50.5px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--cams-dark);
}

.reset-password-text-02{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 50.5px;
    margin-right: 52.5px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--cams-dark-grey);
}

.reset-pwd-input-fields{
    display: flex;
    flex-direction: column;
    height: 78px;
}


.reset-pwd-email{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 52.5px;
}

.reset-pwd-email .reset-pwd-input{
    left: 18px;
    width:285px;
    height: 45px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #E9E9E9;
    border-radius: 6px;
    background-color: transparent;
    padding-left: 18px;
}

.reset-pwd-email .reset-pwd-input:focus {
    outline: none;
    border: 2px solid var(--cams-blue);
}

.reset-pwd-email .reset-pwd-label {
    position: absolute;
    pointer-events: none;
    margin-top: 14px;
    width:112px;
    left: 70px;
    font-size: 15.5px;
    font-family: Poppins;
    font-weight: 400;
    color: #9F9F9F;
    transition: all 0.2s ease;
    background-color: transparent;
    border-radius: 2px;
    padding-left: 5px;
}

.reset-pwd-email  .reset-pwd-input.focused ~ .reset-pwd-label,
.reset-pwd-email  .reset-pwd-label.focused {
    padding-left: 5px;
    margin-top: -10px;
    font-size: 15px;
    font-weight: 500;
    right: 10px;
    color: var(--cams-blue);
    background-color: #fff;
}


.reset-pwd-form-buttons{
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-top: 27px;
}

.reset-pwd-form-buttons .reset-pwd-button-01 {
    margin-left: 52.5px;
    width:310px;
    height: 46px;
    border-radius: 5px;
    font-size: 15.5px;
    font-family: Poppins;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #fff;
    background-color: var(--cams-blue);
    border: 2.5px solid transparent;
}

.reset-pwd-form-buttons .reset-pwd-button-01:hover{
    transition:  0.1s ease;
    cursor: pointer;
 }

 .reset-pwd-form-buttons .reset-pwd-button-02 {
    margin-left: 52.5px;
    margin-top:110px;
    width:310px;
    height: 46px;
    border-radius: 5px;
    font-size: 15.5px;
    font-family: Poppins;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: var(--cams-dark-grey);
    background-color: #fff;
    border: 1.5px solid var(--cams-dark-grey);
}

.reset-pwd-form-buttons .reset-pwd-button-02:hover{
    transition:  0.1s ease;
    cursor: pointer;
 }