.home-navbar{
    top: 0;
    position :relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 16px;
    box-shadow: none;
}

.home-navbar-container{
    z-index: 117px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: url('../assets/background-bg.png') no-repeat center center/cover;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.15);
}

.content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 950px;
    background-color: var(--cams-dark) ;
}

.image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 650px;
    font-family: Poppins;
    font-size: 35px;
    color:transparent;
    margin-right: 75px;
    font-size: 35px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
}



/* Logo Div */

.navbar-logo {
    position: relative;
    z-index: 16;
    display: flex;
    color: #000000;
    margin-left: 3rem;
    width: 50%;
    align-items: center;
    justify-content: flex-start;

}


/* Logo Main Wrapper */

.navbar-camsLogo{
    padding: 10px 12px 06px 12px;
    border-radius: 10px;
    border: 2.5px solid var(--cams-grey);
} 

/* Logo */

.navbar-camsLogo img {
    height: 30px;
} 

/* Logo Hover Effect */

.navbar-camsLogo:hover {
    padding: 10px 12px 06px 12px;
    border-radius: 10px;
    transition:  0.1s ease-in-out;
    /*color: var(--primary-color);*/
    cursor: pointer;
    border: 2.5px solid var(--primary-color);
}


.home-navbar-links{
    position: relative;
    z-index: 16;
    display: flex;
    color: #000000;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    margin-left: 45rem;
}



/* About Icon */

.about{
    object-fit: contain;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: 1rem;
    padding: 8px 16px;
    border-radius: 6px;
  }
  
  /* About Icon Hover*/
  
  .about:hover{
      transition:  0.25s ease-in-out;
      padding: 8px 16px;
      border-radius: 6px;
      /*color: var(--primary-color);*/
      cursor: pointer;
      background: rgba(255, 255, 255, 0.25);
   }
  
   /* Contact Icon */
  
  .contact{
    object-fit: contain;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin: 1rem;
    padding: 8px 16px;
    border-radius: 6px;
  }
  
   /* Contact Icon Hover */
  
  .contact:hover{
      transition:  0.25s ease-in-out;
      padding: 8px 16px;
      border-radius: 6px;
      /*color: var(--primary-color);*/
      cursor: pointer;
      background: rgba(255, 255, 255, 0.25);
   }
  
    /* Sing In Button Container */
  
  .sign-in{
      display: flex;
      align-items: center;
      margin-right: 2.5rem;
      margin-left: 2rem;
  }
  
  /* Sing In Button */
  
  .sign-in-btn{
    font-family: Poppins;
    height: 55px;
    width: 125px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #f8f8f8;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: flex;
    border-radius: 6px;
  }
  
  
    /* Sing In Button Hover */
  
  .sign-in-btn:hover{
     transition:  0.1s ease;
     cursor: pointer;
     border: 2.5px solid #fff;
  }

  /* Help Container */

.help{
    height: 29px;
    width: 29px;
    padding: 10px 10px 07px 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Help Hover */

.help:hover {
    transition:  0.25s ease-in-out;
    padding: 10px 10px 07px 10px;
    border-radius: 50px;
    /*color: var(--primary-color);*/
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
}