.home-navbar{
    top: 0;
    position :relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 16px;
    box-shadow: none;
}

.home-navbar-container{
    z-index: 117px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: white;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.15);
}

.content{
    position: relative;
    display: flex;
    top: 0;
    align-items: top;
    justify-content: center;
    width: 100%;
    height: 950px;
    background-color: white ;
}

.image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 650px;
    font-family: Poppins;
    font-size: 35px;
    color:transparent;
    margin-right: 75px;
    font-size: 35px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
}



/* Logo Div */

.navbar-logo {
    position: relative;
    z-index: 16;
    display: flex;
    color:  var(--cams-blue);
    margin-left: 3rem;
    width: 40%;
    align-items: center;
    justify-content: flex-start;

}


/* Logo Main Wrapper */

.navbar-camsLogo{
    padding: 10px 40px 06px 40px;
    width:30%;
    border-radius: 10px;
    border: 2.5px solid var(--cams-grey);
    color:  var(--cams-blue);
} 

/* Logo */

.navbar-camsLogo img {
    height: 60px;
    width:100%
} 

/* Logo Hover Effect */

.navbar-camsLogo:hover {
    padding: 10px 12px 06px 12px;
    border-radius: 10px;
    transition:  0.1s ease-in-out;
    /*color: var(--primary-color);*/
    cursor: pointer;
    border: 2.5px solid var(--primary-color);
}


.home-navbar-links{
    position: relative;
    z-index: 16;
    display: flex;
    color: #000000;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    margin-left: 45rem;
}



/* About Icon */

.about{
    object-fit: contain;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color:  var(--cams-blue);
    margin: 1rem;
    padding: 8px 16px;
    border-radius: 6px;
  }
  
  /* About Icon Hover*/
  
  .about:hover{
      transition:  0.25s ease-in-out;
      padding: 8px 16px;
      border-radius: 6px;
      /*color: var(--primary-color);*/
      cursor: pointer;
      background: #0099eb1d;
   }
  
   /* Contact Icon */
  
  .contact{
    object-fit: contain;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color:  var(--cams-blue);
    margin: 1rem;
    padding: 8px 16px;
    border-radius: 6px;
  }
  
   /* Contact Icon Hover */
  
  .contact:hover{
      transition:  0.25s ease-in-out;
      padding: 8px 16px;
      border-radius: 6px;
      /*color: var(--primary-color);*/
      cursor: pointer;
      background: #0099eb1d;
   }

   .contact-popup{
     position: absolute;
     top: 80px;
     left: 1300px;
     background-color: #fff;
     border: 1px solid #ccc;
     padding: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     max-width: 500px; /* Set the desired width */
     z-index: 1000;
   }

   .popup-header {
     display: flex;
     justify-content: 150px;
     align-items: center;
   }

  .close-button {
    position: absolute;
    top: 5px; /* Adjust the top value to control the vertical position */
    left: 180px; /* Adjust the right value to control the horizontal position */
    background-color: #ff0000;
    color: black;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  .close-button:hover {
    background-color: #cc0000;
  }
    /* Sing In Button Container */
  
  .sign-in{
      display: flex;
      align-items: center;
      margin-right: 2.5rem;
      margin-left: 2rem;
  }
  
  /* Sing In Button */
  
  .sign-in-btn{
    font-family: Poppins;
    height: 55px;
    width: 125px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: #f8f8f8;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: flex;
    border-radius: 6px;
  }
  
  
    /* Sing In Button Hover */
  
  .sign-in-btn:hover{
     transition:  0.1s ease;
     cursor: pointer;
     border: 2.5px solid #fff;
  }

  /* Help Container */

.help{
    height: 29px;
    width: 29px;
    padding: 10px 10px 07px 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cams-blue);
}

/* Help Hover */

.help:hover {
    transition:  0.25s ease-in-out;
    padding: 10px 10px 07px 10px;
    border-radius: 50px;
    /*color: var(--primary-color);*/
    cursor: pointer;
    background: #0099eb1d;
}

.help .qSvg path{
    fill: var(--cams-blue);
}

