html, body {
  height: 100%;
  margin: 0;
}



:root {
    --cams-blue:#0097EB;
    --cams-secondary-blue:#0F4B6C;
    --cams-grey: #efefef;
    --cams-dark: #0d2154;
    --cams-dark-grey:#9F9F9F; 
    --cams-bg-grey:#f6f6f6; 
    --primary-color: rgb(0, 151, 235);
    --primary-dark: #0d2154;
    --secondary-color: #38ceef;
  }
  

.Random{
  position: relative;
  padding-top: 340px;
  padding-bottom: 540px;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.mid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40vh;
}

