.modal {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .close-button {
    position: relative;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .label {
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
  }
  
  .save-button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  


  .invite-client{
    font-family: Poppins;
    height: 46px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--cams-blue);
    margin-left: 15px;
  }
  

  /* Sing Out Button Hover */
  
  .invite-client:hover{
     transition:  0.1s ease;
     cursor: pointer;
     background-color: #0083c9;
  }



  .create-course-button{
    font-family: Poppins;
    height: 46px;
    width: 150px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #f8f8f8;
    font-size: 16px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--cams-blue);
    margin-left: 15px;
  }
  

  /* Sing Out Button Hover */
  
  .create-course-button:hover{
     transition:  0.1s ease;
     cursor: pointer;
     background-color: #0083c9;
  }
  