.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenavitems {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block
}

.sidenavitems .courses:hover{
     transition:  0.25s ease-in-out;
     border-radius: 6px;
     color:white;
     cursor: pointer;
  }

.sidenavitems .projets:hover{
     transition:  0.25s ease-in-out;
     border-radius: 6px;
     color:white;
     cursor: pointer;
  }

.sidenavitems .dashboard:hover{
     transition:  0.25s ease-in-out;
     border-radius: 6px;
     color:white;
     cursor: pointer;
  }

.main {
  margin-top : 25px;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.navbar-buttons{
    display: flex;
    align-items: right;
    justify-content: center;
  }

/* Help Container */

.navbar-help{
    height: 27px;
    width: 27px;
    padding: 09px 09px 06px 09px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3.25rem;
}

.navbar-help .question .qSvg path {
    fill: var(--cams-dark-grey);
}

/* Help Hover */

.navbar-help:hover {
    transition:  0.25s ease-in-out;
    padding: 09px 09px 06px 09px;
    border-radius: 50px;
    /*color: var(--primary-color);*/
    cursor: pointer;
    background: rgba(203, 203, 203, 0.25);
}



/* Profile Container */

.navbar-profile{
    height: 27px;
    width: 27px;
    padding: 09px 09px 06px 09px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

.navbar-profile .profile-icon .pSvg path {
    fill: var(--cams-dark-grey);
}

/* Profile Hover */

.navbar-profile:hover {
    transition:  0.25s ease-in-out;
    padding: 09px 09px 06px 09px;
    border-radius: 50px;
    /*color: var(--primary-color);*/
    cursor: pointer;
    background: rgba(203, 203, 203, 0.25);
}

.navbar-sign-out{
    display: flex;
    align-items: center;
    margin-right: 1.525rem;
}

/* Sing Out Button */

.navbar-sign-out-btn{
    height: 32px;
    width: 32px;
    padding: 06px 06px 07px 09px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: 2px solid var(--cams-dark-grey);
  }
  .navbar-sign-out-btn .soSvg path {
    fill: var(--cams-dark-grey);
}


  /* Sing Out Button Hover */

  .navbar-sign-out-btn:hover{
     transition:  0.1s ease;
     cursor: pointer;
     background-color:  rgba(203, 203, 203, 0.25);
  }
